body {
    background-image: url('https://i.ibb.co/0yQ6mNWS/Keyword-Green-Flash-Arlee.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #1da1f2;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
